.burger-constructor {
  width: 600px;
  gap: 16px;

  display: flex;
  flex-direction: column;
}

.position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}