.burger-constructor {
  min-width: 600px;
  width: 600px;
  gap: 16px;

  display: flex;
  flex-direction: column;
}

.position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.middle {
  gap: 16px;
  display: flex;
  flex-direction: column;

  max-height: 280px;
  overflow: auto;
  overflow: overlay;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1439px) {
  .burger-constructor {
    width: 500px
  }
}

@media screen and (max-width: 1023px) {
  .burger-constructor {
    width: 400px
  }
}