body {
   margin: 0;
   padding: 0;
 
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 a {
   list-style: none;
   text-decoration: none;
   color: white;
 }
 
 ul {
   margin: 0;
   padding: 0;
 }