@import './styles//style.css';

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

a.burger-link {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}
