.burger-ingredients-wrapper {
   width: 600px;
   display: flex;
   flex-direction: column;
}

.ingredients__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   row-gap: 40px;
   gap: 24px;
}

.groups {
  display: flex;
  flex-direction: column;
  max-height: 600px;

  overflow-y: auto;
}

@media screen and (max-width: 1439px) {
   .burger-ingredients-wrapper {
     width: 500px
   }
 }
 
 @media screen and (max-width: 1023px) {
   .burger-ingredients-wrapper {
     width: 400px
   }
 }